<head>
<meta charset="UTF-8">
<title>E-Stamp & E-Tax TMB</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--<link href="https://fonts.googleapis.com/css?family=Sarabun:300,400,600,700" rel="stylesheet">-->
<link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />
<link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />
<link rel="stylesheet" href="css/vendor/jquery.contextMenu.min.css" />
<link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
<link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
<link rel="stylesheet" href="css/vendor/select2.min.css" />
<link rel="stylesheet" href="css/vendor/select2-bootstrap.min.css" />
<link rel="stylesheet" href="css/vendor/dropzone.min.css" />
<link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="css/vendor/component-custom-switch.min.css" />
<link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="font/fontface.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
